@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1>Đăng nhập</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h4>Đăng nhập tài khoản.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            Ghi nhớ?
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Đăng nhập</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Quên mật khẩu?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Đăng kí tài khoản</a>
                    </p>
                    @* <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                        </p>*@
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>
                HƯỚNG DẪN ĐĂNG NHẬP
            </h4>
            <hr />
            <div>
                <p>
                   <ol>	
                       <li>
                           Sinh viên đăng nhập vào hệ thống bằng địa chỉ email và password đã đăng ký.
                       </li>
                       <li>
                           Nhấp chọn vào biểu tượng link nộp bài của phòng thi tương ứng và nhập mật khẩu của đường link để upload bài thi.
                       </li>
                   </ol>
                </p>
                <div class="alert alert-warning">
                    Tài khoản sẽ <strong class="text-error">bị khóa 1 phút</strong> nếu <strong class="text-error">nhập sai mật khẩu 10 lần liên tiếp</strong>.
                    Trong trường hợp tài khoản bị khóa, hãy thử lại đăng nhập sau 1 phút.
                </div>
            </div>
        </section>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
