@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Xác nhận cài đặt lại mật khẩu";
}

<h1>@ViewData["Title"]</h1>
<p>
    Mật khẩu của bạn đã được cài đặt lại. <a asp-page="./Login">Mở link này để đăng nhập</a>.
</p>
