@model TestLinks.Models.UploadInfo;

@{

    var action = $"/{Model.Area}/{Model.Controller}/UploadFiles/{Model.ID}";

    var returnUrl = String.IsNullOrEmpty(Model.ReturnUrl)?
        $"/{Model.Area}/{Model.Controller}/Details/{Model.ID}" : Model.ReturnUrl;
    Model.ReturnUrl = returnUrl;
}

<div class="row">
    <div>
        @await Component.InvokeAsync("UploadFiles", Model)
    </div>
    @if (!Model.ReadOnly)
    {
        <form method="post" enctype="multipart/form-data"
              action="@action">
            <input type="hidden" name="ReturnUrl" value="@returnUrl" />
            <div class="form-group">
                <div class="col-md-10">
                    <input type="file" name="files" multiple />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 m">
                    <input class="btn btn-default" type="submit" value="Tải lên" />
                </div>
            </div>
        </form>
    }
</div>